/********************************Tag section**********************************/

body{
    margin: 0%;
    width: 100%;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ,sans-serif;
}

h1{
    margin: 0%;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
}

h2{
    margin: auto;
    padding: 50px 0px;
    width: 95%;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: underline overline;
}


div{
    background-color: #DEBA9D;
}

/********************************Class section**********************************/
.top_pres{
    font-size: 25px;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 25px;
}

.top-container{
    background-color: #DEBA9D;
    padding-top: 120px;
    position : relative;
}

.mountain{
    position: relative;
    height:100%;
    width: 85%;
}

.top-cloud{
    /* position: absolute;
    right: 200px;
    top: 50px;
    width: 15%;  */
    display: none;
}

.bottom-cloud{
    /* position: absolute;
    left: 100px;
    bottom: 380px;
    width: 15%; */
    display: none;
}
.middle-container{
    position: relative;
    width: 100%;
}

.Img_site{
    width: 50%;
    margin: auto;
    padding-bottom: 30px;
}

.Texte_CV{
    width: 85%;
    position: relative;
    margin: auto;
    font-size: 32px;
    padding-bottom: 20px;
}

.Skill{
    margin: auto;
    width: 80%;
    position: relative;
    padding-bottom: 30px;
}

.competences{
    font-size: 30px;
    padding-bottom: 30px;
}

.vignette{
    font-size: 28px;
    padding-bottom: 3px;
}

.logo_skill{
    /* width: 2em;
    float: left;
    height: auto; */
    display: none;
}

.bottom-container{
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}

.formation{
    width: 55%;
    padding-bottom: 30px;
}

.formation_date{
    margin: auto;
    width: 95%;
    font-size: 35px;
    text-decoration:underline;
    padding-bottom: 25px;
}

.formation_texte{
    margin: auto;
    width: 85%;
    font-size: 28px;
    padding-bottom: 25px;
}

.formation_texte_B{
    margin: auto;
    width: 85%;
    font-size: 28px;
}

.logo{
    width: 50px;
    height: auto;
    margin: auto;
}

.contact_me{
    margin: auto;
}

/********************************Id section**********************************/

/* Tablette */
@media only screen and (min-width : 768px){
    .top-cloud{
        position: absolute;
        right: 50px;
        top: 50px;
        width: 25%; 
        display: block;
    }
    
    .bottom-cloud{
        position: absolute;
        left: 45px;
        bottom: 320px;
        width: 25%;
        display: block;
    }

    h1{
        margin: 0%;
        font-size: 85px;
        font-family: 'Great Vibes', cursive;
    }
    
    h2{
        margin: auto;
        padding: 50px 0px;
        width: 95%;
        font-size: 80px;
        font-weight: 500;
        font-family: 'Pathway Gothic One', sans-serif;
        text-decoration: underline overline;
    }

    .Tableau_competence{
        display: table;
        margin: auto;
    }

    .Tableau_column{
        display: table-row;
        margin: auto;
    }

    .logo_skill{
        width: 60px;
        height: 60px;
        padding: 10px 35px 10px 35px ;
        vertical-align: middle;
        display:inline-block;
    }

    .vignette{
        font-size: 28px;
        width: 80%;
        text-align: center;
        display: table-cell;
    }

    .Img_site{
        width: 40%;
        padding-bottom: 30px;
    }

}


/* Ordinateur */
@media only screen and (min-width : 1000px){
    .top-cloud{
        position: absolute;
        right: 150px;
        top: 150px;
        width: 25%; 
        display: block;
    }
    
    .bottom-cloud{
        position: absolute;
        left: 45px;
        bottom: 620px;
        width: 25%;
        display: block;
    }

    .mountain{
        position: relative;
        height:100%;
        width: 75%;
    }

    h1{
        margin: 0%;
        font-size: 125px;
        font-family: 'Great Vibes', cursive;
    }
    
    h2{
        margin: auto;
        padding: 80px 0px;
        width: 95%;
        font-size: 100px;
        font-weight: 500;
        font-family: 'Pathway Gothic One', sans-serif;
        text-decoration: underline overline;
    }

    .Skill{
        margin: auto;
        width: 75%;
        position: relative;
        padding-bottom: 30px;
    }

    .Tableau_competence{
        display: table;
        margin: auto;

    }

    .Tableau_column{
        display: table-row;
        margin: auto;
    }

    .logo_skill{
        width: 120px;
        height: 120px;
        padding: 10px 35px 10px 35px ;
    }

    .vignette{
        font-size: 38px;
        width: 200px;
        text-align: center;
        display: table-cell;
    }

    .Img_site{
        width: 25%;
        padding-bottom: 30px;
    }
}